<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="1">#1</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">bulbasaur</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type grass" data-type="grass">grass</li>
        <li class="pokemon-card__type poison" data-type="poison">poison</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="2">#2</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/2.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">ivysaur</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type grass" data-type="grass">grass</li>
        <li class="pokemon-card__type poison" data-type="poison">poison</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="3">#3</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/3.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">venusaur</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type grass" data-type="grass">grass</li>
        <li class="pokemon-card__type poison" data-type="poison">poison</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="4">#4</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">charmander</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type fire" data-type="fire">fire</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="5">#5</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/5.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">charmeleon</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type fire" data-type="fire">fire</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="6">#6</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/6.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">charizard</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type fire" data-type="fire">fire</li>
        <li class="pokemon-card__type flying" data-type="flying">flying</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="7">#7</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">squirtle</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type water" data-type="water">water</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="8">#8</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/8.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">wartortle</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type water" data-type="water">water</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="9">#9</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/9.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">blastoise</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type water" data-type="water">water</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="10">#10</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/10.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">caterpie</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type bug" data-type="bug">bug</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="11">#11</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/11.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">metapod</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type bug" data-type="bug">bug</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="12">#12</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/12.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">butterfree</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type bug" data-type="bug">bug</li>
        <li class="pokemon-card__type flying" data-type="flying">flying</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="13">#13</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/13.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">weedle</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type bug" data-type="bug">bug</li>
        <li class="pokemon-card__type poison" data-type="poison">poison</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="14">#14</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/14.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">kakuna</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type bug" data-type="bug">bug</li>
        <li class="pokemon-card__type poison" data-type="poison">poison</li>
    </ul>
</article>
<article class="pokemon-card">
    <div class="pokemon-card__id" data-id="15">#15</div>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/15.png"
        alt="" class="pokemon-card__picture">
    <h2 class="pokemon-card__name">beedrill</h2>
    <ul class="pokemon-card__types">
        <li class="pokemon-card__type bug" data-type="bug">bug</li>
        <li class="pokemon-card__type poison" data-type="poison">poison</li>
    </ul>
</article>